/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-base: #000000;
        --color-text-inverted: #ffffff;
        --color-fill: #ffffff;
        --color-button-base: #1a1a1a;
        --color-button-muted: #f2ecdb;
        --color-accent: #825f0d;
    }
}

.scrollbar-none {
    scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}